@charset "utf-8";
$content-padding: 30px;
div.list{
  height: 100%;
  display: flex;
  p{
  	height: 60px;
  	line-height: 60px;
  	padding-left: 20px;
  	border-bottom: 1px solid #ccc;
  	font-size: 16px;
  }
  .list-content{
    flex: 1;
    background: #fff;
    .empty-content{
      text-align: center;
      span{
        font-size: 24px;
        display: block;
        margin-top: 200px;
        margin-bottom: 30px;
      }
    }
    .table-box{
    	width: 90%;
    	margin: 0 auto;
      display: none;
      table{
        tr{
          cursor: pointer;
        }
      }
    	p{
	    	margin-top: 20px;
	    	background: #fff;
	    	text-align: center;
	    }
    	button{
    		float: right;
    		&:nth-child(1){
    			margin-right: 8px;
    		}
    	}
    	.pagination-box{
    		text-align: right;
    		margin-top: 25px;
        margin-bottom: 25px;
    	}
    }
  }
}