@charset "utf-8";
$content-padding: 30px;
@mixin keyframes($animationName) { 
  @-webkit-keyframes #{$animationName} {
    @content; 
  } 
  @-moz-keyframes #{$animationName} { 
    @content; 
  } 
  @-o-keyframes #{$animationName} { 
    @content; 
  } 
  @keyframes #{$animationName} { 
    @content; 
  } 
}
div.list{
  height: 100%;
  display: flex;
  width: 100%;
  .list-content{
    flex: 1;
    .returnBtn{
      cursor: pointer;
      -webkit-animation: hover 5s;
      animation: hover  5s;
      @include keyframes(hover) { 
        0% { 
          display: block; 
        } 
        100% { 
          display: none;
        } 
      };
      position: fixed;
      top: 10px; 
      left: 10px; 
      z-index: 10001;
    }
    header{
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      text-align: left;
      border-bottom: 1px solid #ccc;
      span{
        color: #000;
        font-weight: bold;
          padding-left: 10px;
      }
      button{
        color: #fff;
        float: right;
        margin-right: 10px;
        margin-top: 3px;
      }
    }
    .visualizeList{
      text-align: center;
      background: #fff;
      border-bottom: 1px solid #ccc;
      .pagination-box{
        float: right;
        margin-right: 20px;
      }
      button{
        margin-top: 60px;
        margin-bottom: 30px;
      }
    }
  }
}
.grid-stack {
  background: lightgoldenrodyellow;
}

.vue-grid-item {
  color: #2c3e50;
  background: #fff;
  .el-dropdown{
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    i{
      font-size: 24px;
    }
  }
}