@charset "utf-8";
$nav-padding: 10px;
nav{
    width: 180px;
    background: #005571;
    height: 100%;
    min-height: 600px;
    span{
        display: block;
        height: 60px;
        line-height: 60px;
        padding:nav-padding;
        color: #fff;
        text-align: center;
    }
    ul{
        li{
            display: block;
            height: 40px;
            line-height: 40px;
            i{
                float: left;
                color: #fff;
                margin-right: 20px;
                margin-left: 30px;
            }
            a{
                display: block;
                font-size: 14px;
                color: #FFFFFF;
                padding-left: $nav-padding;
                padding-right: $nav-padding;
            }
            a:hover{
                background: #0079A5;
            }
        }
    }
}